/* base.html*/
body { /* styles for the entire body of the website, to ensure that it looks similar */
    font-family: sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae7e7;
    padding-top: 70px;
    color: #121111;
}
.dark-mode-icon { /* styles for the icon of the darkmode, in particular position, width and height */
    position: absolute;
    top: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dark-mode { /* background and font color of the darkmode*/
    background-color: #222;
    color: white;
}

.dark-mode nav { /* backgroundcolor of the navbar in the darkmode */
    background-color: #333;
}

.dark-mode button, .dark-mode-icon { /**/
    filter: invert(1);
}

nav { /* styles for the navbar, in particular backgroundcolor, size and position */
    background-color: #1c1a1a;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;

}

nav ul { /* styles for the list used for the links in the navbar */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav ul li { /* styles for the list elemets, like Home and Top*/
    display: inline;
    margin: 0 15px;
}

nav ul li a { /* style of the links in the list, liked to the different pages */
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: rgb(234, 250, 236);
}

.content { /* special specifications for the content of the website */ 
    padding: 20px;
    width: 1500px;
    height:200px;
    margin-left: 10%;
}

/* index.html*/
.welcome{ /* specifications for the text on the homepage */
    text-align: center;
    width: 75%;
    padding: 5px;
    margin-top: 200px;
    background-color: white;
    color: black;
    margin-left: 90px;
    font-size:40px;
    font-weight:bold;
    opacity: 0.8;
    mix-blend-mode: screen;
}

.video-background { /* specifications for the video in the background*/
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.video-background video { /* specifications for the video in the background */
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    transform: translate(-45%, -50%);
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.video-background .content {/* specifications for the mentioned classes*/
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
}

#videoPlayer {/* specifications for the videoplayer */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.container {/**/
    display: grid;
    margin-left: 20%;
    margin-right: 30%;
    height: 100vh;
    text-align: left;
}

.container h1{/* headline centered, while text left */
    text-align: center;
}

.box{/* specifications of the textboxes with images and text for the userinput, stylistic purposes */
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

#welcome > h1 {/**/
    font-size: 4em;
    color: #000000;
}

.overlay {/* specifications for the overlay, over the backgroundvideo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 1;
    background-color: #fffdfd;
    opacity: 0.8;
    padding: 25px;
    mix-blend-mode: screen;
}

input { /* specifications of the input fields*/
    background-color: floralwhite;
    border: 1px black solid;
    color: darkgray;
}

button { /*specifications of the button*/
    background-color: #2e2e2b;
    border: 1px black solid;
    color: white;
}

button:hover { /* background of the button, while hovering over it*/
    background-color: #b5b5b5;
}

button:active { /* background of the button, while active */
    background-color: #9e9c9c;
}


/* top_drinks.html*/
table { /* specifications for the table for the list, of top drinks, like the text-align and the width */
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

th, td { /* specifications for the table */
    padding: 10px;
    border: 1px solid #ddd;
}

th { /* specifications for the table  */
    background-color: #333;
    color: white;
}

tr:nth-child(even) { /* every even column of the table has a different backgroundcolor, for stylistic purposes n*/
    background-color: #aeaeae;
}

img { /* rounded edges of the images, for stylistic purposes */
    border-radius: 10px;
}

#top_10_h1{ /* central align, of h1 on top_drinks, for stylistic purposes */
    text-align: center;
}


/* kleinere Bildschirme*/
@media screen and (max-width: 768px) {
    .welcome{ /* middle position of the container with the welcome text*/
        position: relative;
        top: 50%;
        left: 20%;
        right: 30%;}
    .video-background { /* similar positioning of the videobackground of the welcome text*/
        position: relative;
        width: 90%;
        height: 100vh;
        overflow: hidden;}}
