/* base.html*/
body {
    font-family: sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae7e7;
    padding-top: 70px;
    color: #121111;
}
.dark-mode-icon {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode nav {
    background-color: #333;
}

.dark-mode button, .dark-mode-icon {
    filter: invert(1);
}

nav {
    background-color: #1c1a1a;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: rgb(234, 250, 236);
}


/* index.html*/
.welcome{
    text-align: center;
    width: 75%;
    padding: 5px;
    margin-top: 200px;
    background-color: white;
    color: black;
    margin-left: 90px;
    font-size:40px;
    font-weight:bold;
    opacity: 0.8;
    mix-blend-mode: screen;
}
.float_right{
    float: right;
}

.box_image{
    width: 250px;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.video-background video {
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.video-background .content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
}

#videoPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.container {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
}

.container h1{
    text-align: center;
}

.box{
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgba(174, 168, 168, 0.8);
}

#welcome > h1 {
    font-size: 4em;
    color: #000000;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 1;
    background-color: #fffdfd;
    opacity: 0.8;
    padding: 25px;
    mix-blend-mode: screen;
}

#question {
    padding: 70px;
    font-size: 25px;
}

#question > h1 {
    font-size: 40px;
} /* separate Formatierung für h1, damit h1 und Text trotz Vergrößerung unterscheidbar sind */

input {
    background-color: floralwhite;
    border: 1px black solid;
    color: darkgray;
}

button {
    background-color: #2e2e2b;
    border: 1px black solid;
    color: white;
}

button:hover {
    background-color: #b5b5b5;
}

button:active {
    background-color: #9e9c9c;
}


/* top_drinks.html*/
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #aeaeae;
}

img {
    border-radius: 10px;
}


.content {
    padding: 20px;
    width: 1500px;
    height:200px;
    margin-left: 10%;
}

#top_10_h1{
    text-align: center;
}

/* 404.html*/
.treasure-chest{
    width: 200px;
    float: left;
}

/* kleinere Bildschirme*/
@media screen and (max-width: 768px) {
    .welcome{
        position: relative;
        top: 50%;
        left: 20%;
        right: 30%;}
    .video-background {
        position: relative;
        width: 90%;
        height: 100vh;
        overflow: hidden;}}
