{% extends "base.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
<main>
    <article>
        <h1>Impressum</h1>
        <section>
            <p>Information according to § 5 DDG</p>
            <p> Jannick René Klitscher - cooperative Student<br>
                Musterweg<br>
                12345 Musterstadt <br>
            </p>
            <p><strong>Contact:</strong> <br>
                Phone: 01234-789456<br>
                Fax: 1234-56789<br>
                E-Mail: <a href='mailto:j.klitscher@stuv-heilbronn.de'>j.klitscher@stuv-heilbronn.de</a></br></p>
        </section>
        <section>
            <h2>Disclaimer: </h2>
            <h3>Disclaimer for Links</h3>
            This offer contains a link to an external website of a third party over whose content we have no influence. <br>
            Therefore, we cannot accept any liability for this external content. The respective provider or operator of the site is always responsible <br>
            for the content of the linked site. The linked page was checked for possible legal violations at the time of linking. <br>
            No illegal content was recognisable at the time of linking. However, permanent monitoring of the content of the linked site <br>
            is not reasonable without a concrete indication of an infringement. If we become aware of an infringement, we will remove the link immediately.
        </section>
        <hr>
        <section>
            <h3>Copyright</h3>
            The content created by the site operator and the work on this site are subject to German copyright law. <br>
            Reproduction, editing, distribution and any kind of utilisation outside the limits of copyright law require the written consent <br>
            of the respective author or creator. Downloads and copies of this site are only permitted for private use, <br>
            private, non-commercial use. Insofar as the content on this site was not created by the operator, <br>
            the copyright of third parties is respected.  In particular, third-party content is labelled as such. <br>
            Should you nevertheless become aware of a copyright infringement, we request that you notify us accordingly. <br>
            If we become aware of an infringement, we will remove this content immediately.
        </section>
        <hr>
        <section>
            <h3>Privacy policy</h3>
            The use of our website is generally possible without providing personal data. <br>
            If personal data (such as name, address, or email addresses) is collected on our website,<br>
            this is always done on a voluntary basis wherever possible. This data will not be passed on to third parties without your express consent. <br>
            We point out that data transmission over the Internet (e.g., when communicating by email) can have security gaps.<br>
            Complete protection of data from access by third parties is not possible. <br>
            The use of contact data published as part of the imprint obligation by third parties <br>
            to send unsolicited advertising and information materials is hereby expressly prohibited. <br>
            The operators of the website expressly reserve the right to take legal action in the event of unsolicited advertising, for example, through spam emails.
            <br><br>
        </section>
    </article>
</main>
{% endblock %}

