{% extends "base.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
<main>
    <article>
        <h1>Impressum</h1>
        <section>
            <p>Angaben gemäß § 5 DDG</p>
            <p> Jannick René Klitscher - dualer Student<br>
                Musterweg<br>
                12345 Musterstadt <br>
            </p>

            <p><strong>Kontakt:</strong> <br>
                Telefon: 01234-789456<br>
                Fax: 1234-56789<br>
                E-Mail: <a href='mailto:j.klitscher@stuv-heilbronn.de'>j.klitscher@stuv-heilbronn.de</a></br></p>
        </section>
        <section>
            <h2>Haftungsausschluss: </h2>
            <h3>Haftung für Links</h3>
            Dieses Angebot enthält einen Link zu einer externen Webseite eines Dritten,
            auf deren Inhalt wir keinen Einfluss haben. Deshalb können wir für diesen fremden Inhalt auch keine Gewähr übernehmen.
            Für den Inhalt der verlinkten Seite ist stets der jeweilige Anbieter oder Betreiber der Seite verantwortlich.
            Die verlinkte Seite wurde zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
            Ein rechtswidriger Inhalt war zum Zeitpunkt der Verlinkung nicht erkennbar.
            Eine permanente inhaltliche Kontrolle der verlinkten Seite ist jedoch ohne einen konkreten Anhaltspunkt einer Rechtsverletzung nicht zumutbar.
            Bei Bekanntwerden einer Rechtsverletzung werden wir diesen Link umgehend entfernen.
        </section>
        <hr>
        <section>
            <h3>Urheberrecht</h3>
            Der durch den Seitenbetreiber erstellte Inhalt und das Werk auf dieser Seite unterliegen dem deutschen Urheberrecht.
            Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts
            bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten,
            nicht kommerziellen Gebrauch gestattet. Soweit der Inhalt auf dieser Seite nicht vom Betreiber erstellt wurde, wird das Urheberrecht Dritter beachtet.
            Insbesondere wird ein Inhalt Dritter als solcher gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
            bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden einer Rechtsverletzung werden wir diesen Inhalt umgehend entfernen.
        </section>
        <hr>
        <section>
            <h3>Datenschutz</h3>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
            Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden,
            erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
            Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
            angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
            Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
        </section>
    </article>
</main>

{% endblock %}