{% extends "base.html" %}

{% block title %}Top 10 Cocktails{% endblock %}

{% block content %}
<h1 id="top_10_h1">Top 10 Most Searched Cocktails</h1>

{% if top_drinks %}
<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Cocktail Name</th>
        <th>Image</th>
        <th>Search Count</th>
    </tr>
    </thead>
    <tbody>
    {% for drink in top_drinks %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ drink.name }}</td>
        <td><img src="{{ drink.image }}" alt="{{ drink.name }}" width="100"></td>
        <td>{{ drink.searches }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No drinks have been searched yet.</p>
{% endif %}
{% endblock %}